progress {
    width: 97.5%;
    height: 6px;
}

.nav-tabs .nav-link {
    color: rgb(59, 53, 53);
    font-weight: 50;
}

.nav-tabs .active {
    font-weight: bold!important;
}

.col-9 {
    border-bottom: 0px!important;
}

body {
    overflow: scroll;
    height: 100vh;
    width: 100vw;
}

.footer {
    position: relative;
    left: 26%;
    margin-bottom: 50px;
}

/* html {
    overflow: scroll;
    overflow-x: hidden;
} */

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

#sites {
    height: 47vh;
}

.footer-specific {
    position: absolute;
    left: 44%;
}