<div class="container mt-3">
    <h5>Total Orders Collected At A Facility</h5>
    <div class="row">
        <div class="col-12">
            <table id="orders_collected_table" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Facility</th>
                    <th>Total Orders Collected</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script>
$(document).ready(function () {
    let dataset = JSON.parse('<%=raw(@orders_collected.to_json)%>');
    // let dataset = [
    //                 {'facility': 'Area 18 health centre', 'orders_collected': 30},
    //                 {'facility': 'Area 25 health centre', 'orders_collected': 50},
    //                 {'facility': 'Kabudula health centre', 'orders_collected': 35},
    //                 {'facility': 'Kawale health centre', 'orders_collected': 356},
    //                 {'facility': 'St Gabriel Hospital', 'orders_collected': 307},
    //             ];
    
    $('#orders_collected_table').DataTable( {
                data: dataset,
                columns: [
                    { data: 'facility' },
                    { data: 'orders_collected' }
                ],
        } );
});
</script>