<div class="container mt-3">
    <h5>Total Orders Delivered At A Molecular Lab From Facility - EID/VIRAL LOAD DATA</h5>
    <div class="row">
        <div class="col-12">
            <table id="orders_delivered_at_molecular_lab_table" class="table table-striped table-bordered" style="width:100%">
                <%if @data[:type] == 'topLevel'%>
                    <thead>
                        <tr>
                            <th>Facility</th>
                            <th>Lab Delivered To</th>
                            <th>Total Orders Delivered</th>
                        </tr>
                    </thead>
                <%else%>
                    <thead>
                        <tr>
                            <th>Tracking Number</th>
                            <th>Facility</th>
                            <th>District</th>
                            <th>Test Type</th>
                            <th>Date Order Created</th>
                            <th>Date Order Delivered to Molecular Lab</th>
                        </tr>
                    </thead>
                <%end%>
            </table>
        </div>
    </div>
</div>

<script>
$(document).ready(function () {
    let dataset = JSON.parse('<%=raw(@data.to_json)%>');
    if (dataset.type === 'topLevel'){
        $('#orders_delivered_at_molecular_lab_table').DataTable({
                    data: dataset.orders,
                    "columnDefs": [
                        { className: "openPopup", "targets": [ 0 ] }
                    ],
                    columns: [
                        { data: 'facility',
                            "render": function (data) {
                                let baseUrl = window.location.href;
                                let dataURL = new URL(baseUrl+ `?site_name=${data}`).href
                                return '<a href="'+dataURL+'">'+data+'</a>';
                            } 
                        },
                        {data: 'delivery_location',
                            render: function (data) {
                                if(data){
                                    return data.replaceAll('_', ' ');
                                }else{
                                    return data;
                                }  
                            }
                        },
                        { data: 'orders_delivered_at_molecular_lab' }
                        
                    ],
                    destroy: true
            } );
    }else{
        $('#orders_delivered_at_molecular_lab_table').DataTable( {
                    data: dataset.orders,
                    columns: [
                        { data: 'tracking_number'},
                        { data: 'facility' },
                        { data: 'district' },
                        {data: 'test_type'},
                        {data: 'date_created',
                            render: function (data) {
                                let date = new Date(data);
                                let month = date.getMonth()+1;
                                let day = date.getDate();
                                if(month < 10){
                                    month = `0${month}`
                                }
                                if(day < 10){
                                    day = `0${day}`;
                                }
                                // return `${date.getFullYear()}-${month}-${day}`;    
                                return date.toLocaleString('en-US', { timeZone: 'Africa/Blantyre' });      
                            }
                        },
                        { data: 'date_dispatched',
                            render: function (data) {
                                let date = new Date(data);
                                let month = date.getMonth()+1;
                                let day = date.getDate();
                                if(month < 10){
                                    month = `0${month}`;
                                }
                                if(day < 10){
                                    day = `0${day}`;
                                }
                                // return `${date.getFullYear()}-${month}-${day}`;    
                                return date.toLocaleString('en-US', { timeZone: 'Africa/Blantyre' });       
                            }
                        }
                        
                    ],
                    destroy: true
            } );
    }

});
</script>